<ion-view title="Vocabulary">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Cathegories</h1>
    <div class="list">
        <a class="item item-thumbnail-left" href="#" ng-repeat="cathegory in cathegories">
	      <img src="http://lorempixel.com/200/200/sports">
	      <h2>{{cathegory.title}}</h2>
	      <p>{{cathegory.desc}}</p>
	    </a>
</div>
  </ion-content>
</ion-view>